.gradle
.idea
*.iml
*.ipr
*.iws
build

leanpub-example-book/src/docs/asciidoc/diag-*.png
leanpub-example-book/src/docs/asciidoc/diag-*.png.cache
converters/src/test/resources/test-documents/.asciidoctor
